@import "tailwindcss";
@layer theme, base, components, utilities;

@theme {
  --font-outfit: Outfit, sans-serif;
  --font-ovo: Ovo, serif;
  --shadow-black: 4px 4px 0 #000; 
  --shadow-white: 4px 4px 0 #fff; 
  --color-darkHover: #2a004a;
  --color--darkTheme : #11001F;
}

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: Outfit;
} 

.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}





